
jupyter.bat
*.DESKTOP-RUMJBR7
notebooks/.ipynb_checkpoints/Numpy Basics-checkpoint.ipynb
*.txt
*-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Scrapying with Scrapy-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Probabilistic Distributions-checkpoint.ipynb
notebooks/.ipynb_checkpoints/Entropy, Cross-Entropy and Kullback Leibler Divergence-checkpoint.ipynb
*.json
notebooks/__pycache__/localsettings.cpython-36.pyc
*.log
notebooks/localsettings.py
